<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-4 mb-4">コメント一覧</h2>
      <%= link_to '新しい順', admin_comments_path(latest: "true") %>
      |<%= link_to '古い順', admin_comments_path(old: "true") %>
      |<%= link_to 'スコアの高い順', admin_comments_path(score_high_count: "true") %>
      |<%= link_to 'スコアの低い順', admin_comments_path(score_low_count: "true") %>
      <div class="table-responsive">
        <table class = "table">
          <thead>
            <th>コメント</th>
            <th>投稿者</th>
            <th>投稿名</th>
            <th>スコア</th>
            <th>投稿日</th>
            <th></th>
          </thead>
          <tbody>
            <% @comments.first(10).each do |comment| %>
              <tr>
                <td><%= comment.comment %></td>
                <td><%= link_to comment.user.name, admin_user_path(comment.user) %></td>
                <td><%= comment.post.title %></td>
                <td><%= comment.score %></td>
                <td><%= comment.created_at.strftime('%Y/%m/%d %I:%M:%S %p') %></td>
                <td><%= link_to "削除", admin_comment_path(comment), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row flex justify-content-center">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>