<div>
  <p><i class="fa-regular fa-comment"></i> コメント数：<%= post.comments.count %>件</p>
  <% post.comments.each do |comment| %>
    <div class="media mb-3">
      <%= image_tag comment.user.image, size: "50x50", class: "rounded" %>
      <div class="media-body ml-3">
        <h5><%= comment.user.name %></h5>
        <small class="text-muted"><%= comment.created_at.strftime('%Y/%m/%d') %></small>
        <p><%= comment.comment %></p>
        <% if current_user == comment.user %>
          <%= link_to "削除", post_comment_path(post, comment), method: :delete, class: "text-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <%= form_with model: [post, comment], local: true do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
    </div>
    <%= f.submit "送信する", class: "btn btn-primary" %>
  <% end %>
</div>