<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-4 mb-4">投稿詳細</h2>
      <div class="row">
        <%= image_tag @post.image, class: "img-fluid rounded d-block mx-auto" %>
      </div>
      <h4 class="mt-4"><strong><%= @post.title %></strong></h4>
      <div class="d-flex align-items-center my-3">
        <span class="favorite_buttons_<%= @post.id %>"><%= render "public/favorites/favorite", post: @post %></span>
        <span class="bookmark_buttons_<%= @post.id %> ml-2"><%= render "public/bookmarks/bookmark", post: @post %></span>
      </div>
      <p><%= @post.description %></p>
      <p>投稿者：<%= link_to @post.user.name, user_path(@post.user) %></p>
      <div class="d-flex align-items-center my-3">
        <p class="mb-0 mr-3">投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        <i class="fa-regular fa-eye"></i><%= @post.view_counts.count %>
        <% @tags.each do |tag| %>
          <div class="ml-3">
            <%= link_to search_tag_path(tag_id: tag.id) do %>
              <i class="fa-solid fa-tag"></i> <%= tag.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <h4>MAP</h4>
      <div id='map' class="my-3"></div>
      <div class="mb-5">
        <%= @post.place.address %>
        <%= link_to '同じ場所を探す', search_place_path(place_id: @post.place.id), class: "btn btn-primary" %>
      </div>
      <span class="comment_count"><%= render "public/comments/comment_count", post: @post %></span>
      <span class="comment"><%= render "public/comments/comment", post: @post %></span>
      <span><%= render "public/comments/comment_form", post: @post, comment: @comment %></span>
    </div>
  </div>
</div>

<style>#map {height: 600px; width: 100%;}</style>
<script>
  function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @post.place.latitude %>, lng: <%= @post.place.longitude %> },
    zoom: 15
    });
    let marker = new google.maps.Marker({
      position: { lat: <%= @post.place.latitude %>, lng: <%= @post.place.longitude %> },
      map: map,
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>