<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<%= link_to "試しに使ってみる", users_guest_sign_in_path, method: :post %>
<%= link_to "投稿してみる", new_post_path %>

<%= render 'public/searches/search' %>

<h2>いいねランキング</h2>
<% @post_favorite_ranks.each.with_index(1) do |post, i| %>
  第<%= i %>位
  <%= link_to 
  <%= post.title %>
  <%= post.favorites.count %>いいね
<% end %>

<h2>閲覧数ランキング</h2>
<% @post_view_count_ranks.each.with_index(1) do |post, i| %>
  第<%= i %>位
  <%= post.title %>
  <%= post.view_counts.count %>回
<% end %>