<div class="container">
  <div class="card bg-dark text-white">
    <img id="dynamicImage" class="fade-in" src="assets/top-1.jpg" class="card-img" alt="Top画像">
    <div class="card-img-overlay">
      <% if user_signed_in? %>
        <div class="row flex justify-content-center">
          <h1 class="card-title">お気に入りの場所を投稿しませんか</h1>
        </div>
        <div class="row flex justify-content-center">
          <%= link_to "投稿してみる", new_post_path, class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="row flex justify-content-center">
          <h1 class="card-title">DiscoverPlacesへようこそ！</h2>
        </div>
        <div class="row flex justify-content-center">
          <%= link_to "初めての方へ", about_path, class: "btn btn-success" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary ml-2 mr-2" %>
          <%= link_to "試しに使ってみる", users_guest_sign_in_path, method: :post, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>

  <h2>いいねランキング</h2>
  <div class="card-group">
    <% @post_favorite_ranks.first(5).each.with_index(1) do |post, i| %>
      <div class="card">
        <div class="card-body">
          <h4>第<%= i %>位</h4>
          <%= image_tag post.image, size:"100x100" %>
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.description %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at.strftime('%Y/%m/%d') %></small></p>
          <p class="card-text">
            <i class="fa-regular fa-heart"></i> <%= post.favorites.count %>
            <i class="fa-regular fa-comment"></i> <%= post.comments.count %>
            <i class="fa-regular fa-eye"></i> <%= post.view_counts.count %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <h2>閲覧数ランキング</h2>
  <div class="card-group">
    <% @post_view_count_ranks.each.with_index(1) do |post, i| %>
      <div class="card">
        <div class="card-body">
          <h4>第<%= i %>位</h4>
          <%= image_tag post.image, size:"100x100" %>
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.description %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at.strftime('%Y/%m/%d') %></small></p>
          <p class="card-text">
            <i class="fa-regular fa-heart"></i> <%= post.favorites.count %>
            <i class="fa-regular fa-comment"></i> <%= post.comments.count %>
            <i class="fa-regular fa-eye"></i> <%= post.view_counts.count %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  var images = ["assets/top-1.jpg", "assets/top-2.jpg", "assets/top-3.jpg"];
  var currentIndex = 0;
  var imageElement = document.getElementById("dynamicImage");

  function changeImage() {
      // 新しい画像のインデックスを決定
      currentIndex = (currentIndex + 1) % images.length;

      // フェードアウト後に新しい画像を設定し、フェードインする
      imageElement.classList.remove("visible");
      setTimeout(function() {
          imageElement.src = images[currentIndex];
          imageElement.classList.add("visible");
      }, 900); // 0.9秒後に切り替え
  }

  // 最初のフェードイン
  imageElement.classList.add("visible");

  // 5秒ごとに画像を変更
  setInterval(changeImage, 7000);
</script>