<div class="image" style = "background-image: url('assets/top.jpg');">
  <%= link_to "初めての方へ", about_path %>
  <%= link_to "試しに使ってみる", users_guest_sign_in_path, method: :post %>
  <%= link_to "投稿してみる", new_post_path %>
</div>


<h2>いいねランキング</h2>
<% @post_favorite_ranks.each.with_index(1) do |post, i| %>
  第<%= i %>位
  <%= link_to post_path(post) do %>
    <%= post.title %>
  <% end %>
  <%= post.favorites.count %>いいね
<% end %>

<h2>閲覧数ランキング</h2>
<% @post_view_count_ranks.each.with_index(1) do |post, i| %>
  第<%= i %>位
  <%= link_to post_path(post) do %>
    <%= post.title %>
  <% end %>
  <%= post.view_counts.count %>回
<% end %>