<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-4">管理者ページ</h2>
      <h4 class="mt-4">ユーザー一覧</h4>
      <table class = "table no-border">
        <thead>
          <th class="align-middle"></th>
          <th class="align-middle">ユーザー名</th>
          <th class="align-middle">メールアドレス</th>
          <th class="align-middle">自己紹介</th>
          <th class="align-middle">アカウント</th>
        </thead>
        <tbody>
          <% @users.first(5).each do |user| %>
            <tr>
              <td class="align-middle"><%= image_tag user.display_image, size: "100x100", class: "rounded" %></td>
              <td class="align-middle">
                <%= link_to admin_user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td class="align-middle"><%= user.email %></td>
              <td class="align-middle"><%= user.introduction %></td>
              <td class="align-middle"><p><%= user.is_active ? '有効' : '退会' %></p></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col text-right">
          <%= link_to "more", admin_users_path %>
        </div>
      </div>

      <h4 class="mt-4">コメント一覧</h4>
      <table class = "table">
        <thead>
          <th>コメント</th>
          <th>投稿者</th>
          <th>投稿日</th>
          <th></th>
        </thead>
        <tbody>
          <% @comments.first(10).each do |comment| %>
            <tr>
              <td><%= comment.comment %></td>
              <td><%= comment.user.name %></td>
              <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= link_to "削除", admin_comment_path(comment), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col text-right mb-4">
          <%= link_to "more", admin_comments_path %>
        </div>
      </div>
    </div>
  </div>
</div>