<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-4">管理者ページ</h2>
      <h4 class="mt-4">ユーザー一覧</h4>
      <div class="table-responsive">
        <table class = "table no-border">
          <thead>
            <th class="align-middle"></th>
            <th class="align-middle">ユーザー名</th>
            <th class="align-middle">メールアドレス</th>
            <th class="align-middle">自己紹介</th>
            <th class="align-middle">アカウント</th>
          </thead>
          <tbody>
            <% @users.first(5).each do |user| %>
              <tr>
                <td class="align-middle"><%= image_tag user.display_image, size: "100x100", class: "rounded" %></td>
                <td class="align-middle">
                  <%= link_to admin_user_path(user) do %>
                    <%= user.name %>
                  <% end %>
                </td>
                <td class="align-middle"><%= user.email %></td>
                <td class="align-middle"><%= user.introduction %></td>
                <td class="align-middle"><p><%= user.is_active ? '有効' : '退会' %></p></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col text-right">
          <%= link_to "more", admin_users_path %>
        </div>
      </div>

      <h4 class="mt-4">コメント一覧</h4>
      <div class="table-responsive">
        <table class = "table">
          <thead>
            <th class="align-middle">コメント</th>
            <th class="align-middle">投稿者</th>
            <th class="align-middle">投稿日</th>
            <th></th>
          </thead>
          <tbody>
            <% @comments.first(10).each do |comment| %>
              <tr>
                <td class="align-middle"><%= comment.comment %></td>
                <td class="align-middle"><%= comment.user.name %></td>
                <td class="align-middle"><%= comment.created_at.strftime('%Y/%m/%d %I:%M:%S %p') %></td>
                <td class="align-middle"><%= link_to "削除", admin_comment_path(comment), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col text-right mb-4">
          <%= link_to "more", admin_comments_path %>
        </div>
      </div>

      <h4 class="mt-4">問い合わせ一覧</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th class="align-middle">問い合わせ日</th>
            <th class="align-middle">投稿者</th>
            <th class="align-middle">会員登録</th>
            <th class="align-middle">件名</th>
            <th class="align-middle">対応状況</th>
          </thead>
          <tbody>
            <% @contacts.first(10).each do |contact| %>
              <tr>
                <td class="align-middle"><%= contact.created_at.strftime('%Y/%m/%d %I:%M:%S %p') %></td>
                <td class="align-middle"><%= contact.name %></td>
                <td class="align-middle"><%= contact.user_id.present? ? '済' : '未' %></td>
                <td class="align-middle"><%= link_to contact.title, admin_contact_path(contact) %></td>
                <td class="align-middle"><%= contact.support.present? ? '対応済み' : '未対応' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col text-right mb-4">
          <%= link_to "more", admin_contacts_path %>
        </div>
      </div>
    </div>
  </div>
</div>