<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="text-center mb-4">会員登録</h2>

      <%= form_with model: @user, url: user_registration_path, html: { class: 'needs-validation', novalidate: '' } do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :introduction, "自己紹介" %>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :image, "アイコン" %>
          <%= f.file_field :image, accept: "image/*", class: 'form-control-file' %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "パスワード確認" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "会員登録", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>