<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-6">
      <h2 class="mt-4 mb-4"><%= @user.name %>さんのマイページ</h2>
    </div>
    <div class="col-md-4 col-sm-6 text-end">
      <% if current_user == @user && @user.email != "guest@example.com" %>
        <%= link_to "会員情報変更", edit_user_path(@user), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-4">
      <div>
        <%= image_tag @user.image, size: "200x200" %>
      </div>
      <% if current_user != @user %>
        <div class="mt-2">
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-8">
      <table>
        <tr>
          <th>ユーザー名：</th>
          <td><%= @user.name %></td>
        </tr>
        <% if @user.email != "guest@example.com" %>
          <tr>
            <th>メールアドレス：</th>
            <td><%= @user.email %></td>
          </tr>
        <% end %>
        <tr>
          <th>自己紹介：</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>フォロー数：</th>
          <td>
            <%= link_to follows_user_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>フォロワー数：</th>
          <td>
            <%= link_to followers_user_path(@user) do %>
              <%= @user.followeds.count %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-12">
    <h4 class="mt-4 mb-4">投稿一覧</h4>
    <% @user.posts.order(created_at: :desc).first(5).each do |post| %>
      <%= render "public/shared/posts", post: post %>
    <% end %>
    <div class="row">
      <div class="col text-right">
        <%= link_to "more", user_posts_path(@user) %>
      </div>
    </div>
    <h4 class="mt-4 mb-4">クリップ一覧</h4>
    <% @bookmarks.each do |post| %>
      <%= render "public/shared/posts", post: post %>
    <% end %>
    <div class="row">
      <div class="col text-right">
        <%= link_to "more", bookmarks_user_path(@user) %>
      </div>
    </div>
    <h4 class="mt-4 mb-4">コメント一覧</h4>
    <%= render "public/shared/comment_view", comments: @comments %>
    <div class="row">
      <div class="col text-right">
        <%= link_to "more", comments_user_path(@user) %>
      </div>
    </div>
  </div>
</div>